{% extends 'base.html' %}

{% block head %}
    <script>
        function toggleFirst() {
            var firstTable = document.getElementById('table_first');
            var showFirstButton = document.getElementById('show-first-btn');
            var hideFirstButton = document.getElementById('hide-first-btn');

            if (firstTable.style.display === 'none' || firstTable.style.display === '') {
                firstTable.style.display = 'block';
                showFirstButton.style.display = 'none';
                hideFirstButton.style.display = 'inline';
            } else {
                firstTable.style.display = 'none';
                showFirstButton.style.display = 'inline';
                hideFirstButton.style.display = 'none';
            }
        }

        function toggleTail() {
            var tailTable = document.getElementById('table_tail');
            var showTailButton = document.getElementById('show-tail-btn');
            var hideTailButton = document.getElementById('hide-tail-btn');

            if (tailTable.style.display === 'none' || tailTable.style.display === '') {
                tailTable.style.display = 'block';
                showTailButton.style.display = 'none';
                hideTailButton.style.display = 'inline';
            } else {
                tailTable.style.display = 'none';
                showTailButton.style.display = 'inline';
                hideTailButton.style.display = 'none';
            }
        }

        function toggleForm() {
            var formContainer = document.getElementById('form-container');
            if (formContainer.style.display === 'none' || formContainer.style.display === '') {
                formContainer.style.display = 'block';
            } else {
                formContainer.style.display = 'none';
            }
        }
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="header">
            <br />
            <h3><u>Data File Insights</u></h3>
            <br />
        </div>
        <div class="form-container">
            <h5>Upload the data file here :</h5>
            <form method="POST" action="{{ url_for('file_submit') }}" enctype="multipart/form-data">
                <input type="file" name="fileInput" accept=".csv, .xlsx, .xls">
                <button type="submit">Submit</button>
            </form>
        </div>

        <div class="processing-results">
            <br />
            {% if preprocessing_flag %}
                <h5>Details :</h5>
                <div class="preprocess-message">
                    <ul>
                        <li><p><i><b>{{ preprocess_message }}</b></i></p></li>
                        {% if table_head %}
                            <div>
                                <button id="show-first-btn" class="btn btn-primary" onclick="toggleFirst()">Show First 5 Rows</button>
                                <button id="hide-first-btn" class="btn btn-secondary" style="display: none;" onclick="toggleFirst()">Hide First 5 Rows</button>
                                <div id="table_first" style="display: none;">
                                    <p><i>First 5 rows of the uploaded data file</i></p>
                                    {{ table_head|safe }}
                                </div>
                            </div>
                            <br />
                            <div>
                                <button id="show-tail-btn" class="btn btn-primary" onclick="toggleTail()">Show Last 5 Rows</button>
                                <button id="hide-tail-btn" class="btn btn-secondary" style="display: none;" onclick="toggleTail()">Hide Last 5 Rows</button>
                                <div id="table_tail" style="display: none;">
                                    <p><i>Last 5 rows of the uploaded data file</i></p>
                                    {{ table_tail|safe }}
                                </div>
                            </div>
                            <br />
                        <li><p><i><b>{{ number_of_ids }}</b> unique IDs are available in the uploaded data files</i></p></li>
                        {% endif %}
                    </ul>
                </div>
            <br /><br /><br />
            <h5>Add new data to file : </h5>
                <button class="btn btn-success" onclick="toggleForm()">Add Data</button>

                <div id="form-container" style="display: none;">
                    <h5><u>Add New Data</u></h5>
                    <br />
                    <form method="POST" action="{{ url_for('add_data') }}">
                        <div class="form-group">
                            <label for="month">Month:</label>
                            <input type="text" id="month" name="month" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="year">Year:</label>
                            <input type="text" id="year" name="year" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="dealer_code">Dealer Code:</label>
                            <input type="text" id="dealer_code" name="dealer_code" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="dealer">Dealer:</label>
                            <input type="text" id="dealer" name="dealer" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="item_id">Item ID:</label>
                            <input type="text" id="item_id" name="item_id" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="item_name">Item Name:</label>
                            <input type="text" id="item_name" name="item_name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="segment">Segment:</label>
                            <input type="text" id="segment" name="segment" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="district">District:</label>
                            <input type="text" id="district" name="district" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="sales_value">Sales Value:</label>
                            <input type="number" id="sales_value" name="sales_value" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="sales_quantity">Sales Quantity:</label>
                            <input type="number" id="sales_quantity" name="sales_quantity" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <br />

                <div class="download-button">
                    <br /><br /><br />
                    <p><i>Download the updated csv file</i></p>
                    <a href="{{ url_for('download_csv') }}" class="btn btn-primary">Download CSV</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
