{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="header">
            <h1>Smart Sales Automation</h1>
        </div>
        <div class="form-container">
            <form action="/" method="POST">
                <label for="textInput">Input the name of the data file here (battery, tyre, etc.)</label><br />
                <input type="text" id="textInput" name="textInput"><br />
                <button type="submit">Start Process</button>
            </form>
        </div>
        {% if processed_text %}
            <div class="result">
                <br />
                <p>{{ preprocess_message }}</p>
                <p>{{ unique_id_creator_message }}</p>
                <p>{{ unique_dealer_creator_message }}</p>
                <p>{{ unique_year_creator_message }}</p>
            </div>
        {% endif %}


    </div>
{% endblock %}
